$primary:#f9004d;
$secondary:#181B38;
$netral:#ffffff;
$text:#1f1f25;
$subtitle: #717173;
$dark: black;
$shadow: rgb(56, 55, 55);
$bgbody: #f8f9fc;
$bgdanger: #f53c5b;
$bgsuccess:#0ba360;
$bginfo:#00cccc;
$bgwarning: #ffc107;
